*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, "sans-serif";
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-bottom: 120px;
}

.header, .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 128px;
    flex-wrap: wrap;
}

.hero {
    gap: 65px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links > ul {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    gap: 24px;
}

.hero-image {
    max-width: 60%;
    width: 650px;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 16px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-sign-up, .sign-up {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    width: 128px;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.info {
    max-width: 250px;
    font-size: 18px;
}

.info-image {
    width: 250px;
    height: 250px;
    margin-bottom: 12px;
}

.section-2 {
    text-align: center;
    padding-bottom: 120px;
}

.info-title {
    font-size: 36px;
    font-weight: 999;
    color: #1F2937;
    margin: 48px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.section-3 {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 900px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.quote-attribution {
    font-size: 28px;
    font-weight: 900;
}

.section-4 {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    background-color: #3882f6;
    border-radius: 12px;
    width: 1000px;
    padding: 48px;
    display: flex;
    justify-content: space-evenly;
}

.sign-up-header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.sign-up-text {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up {
    border: 3px solid white;
}

